#tbb-recrewind {
	list-style-image:url('recrew24.png');
}
toolbar[iconsize="small"] #tbb-recrewind {
	list-style-image:url('recrew16.png');
}
#tbb-recrewind[disabled="true"] {
	list-style-image:url('recrew24.png');
	opacity:0.2;
}
toolbar[iconsize="small"] #tbb-recrewind[disabled="true"] {
	list-style-image:url('recrew16.png');
	opacity:0.2;
}
#menu-recrewind {
	list-style-image:url('recrew24.png');
}
#mnu-recrewind-find {
	list-style-image:url('rew24.png');
}
#mnu-recrewind-record {
	list-style-image:url('rec24.png');
}
#tbb-recrewind-find {
	list-style-image:url('rew24.png');
}
#tbb-recrewind-record {
	list-style-image:url('rec24.png');
}